*
{
	margin: 0;
	padding: 0;
}

.contenedor
{
	margin: auto;
	width: 400px;
	height: 400px;
	background: blue;
	border: 3px solid;
	text-align: center;
	
}
.fila1
{
	width: 100%;
	height: 100px;
	background: red;
}
#fila1a
{
	width: 25%;
	height: 100%;
	float: left;
	background: green;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila1b
{
	width: 25%;
	height: 100%;
	float: left;
	background: #f0f0f0;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	
}
#fila1c
{
	width: 25%;
	height: 100%;
	float: left;
	background: green;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	
}
#fila1d
{
	width: 25%;
	height: 100%;
	float: left;
	background: #f0f0f0;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	
}
.fila2
{
	width: 100%;
	height: 100px;
	background: blue;
	
}
#fila2a
{
	width: 25%;
	height: 100%;
	float: left;
	background:#f0f0f0;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila2b
{
	width: 25%;
	height: 100%;
	float: left;
	background: green;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila2c
{
	width: 25%;
	height: 100%;
	float: left;
	background: #f0f0f0;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila2d
{
	width: 25%;
	height: 100%;
	float: left;
	background: green;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.fila3
{
	width: 100%;
	height: 100px;
	background: red;
}

#fila3a
{
	width: 25%;
	height: 100%;
	float: left;
	background: green;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila3b
{
	width: 25%;
	height: 100%;
	float: left;
	background: #f0f0f0;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila3c
{
	width: 25%;
	height: 100%;
	float: left;
	background: green;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila3d
{
	width: 25%;
	height: 100%;
	float: left;
	background: #f0f0f0;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.fila4
{
	width: 100%;
	height: 100px;
	background: blue;
}

#fila4a
{
	width: 25%;
	height: 100%;
	float: left;
	background:#f0f0f0;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila4b
{
	width: 25%;
	height: 100%;
	float: left;
	background: green;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila4c
{
	width: 25%;
	height: 100%;
	float: left;
	background: #f0f0f0;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#fila4d
{
	width: 25%;
	height: 100%;
	float: left;
	background: green;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}